.add-btn {
    background-color: #059862;
    border: none;
    color: white;
    padding: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
    width: 30px;
}

.add-btn:hover {
    background-color: #036541;
}

.input-box,
.btn {
    margin: 3px 2px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #d4d4d4;
}

.common {
    border-left: 5px solid green;
    margin-left: 3px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
    margin: 0 auto;
    gap: 20px;
}

body {
    background-color: #1e1e1e;
    color: #d4d4d4;
}

a {
    color: #d4d4d4;
}

img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}
